<div class="main movie-show">
  <div class="container">
    <div class="movie">
    <%=image_tag @movie.image %>      
        <div class="info">                
        <h3 class="movie-title"><%=@movie.title %></h3>
        <p class="movie-release-year"><%=@movie.release_year %></p>
        <p class="movie-plot"><%=@movie.plot %></p>
        </div>
        <a href="#" > Download </a>
    </div>

    <h2>Cast</h2>
    <% @actors.each do |a| %>
    <div class="actor">
      <%= image_tag a.image %>
      <h3 class="actor-name"><%=a.first_name%>, <%=a.last_name %></h3>
      <p class="actor-bio"><%=a.bio %></p>
      <%= link_to "Learn More", actor_path(a)%>
    </div>
    <% end %>
  </div>
</div>